<% @pages = Page.all %>

<hr>
<%= link_to 'Upload', '/photos/upload' %>
<hr>

<% @photos.each do |photo| %>
  <div class="edit-photo">
  <%= image_tag "http://d33hg3xs7itdqa.cloudfront.net/#{photo.s3_key}", width: 200 %>
  <br><br>
  <% @pages.each do |page| %>
    <% if PagePhoto.where(page_id: page.id, photo_id: photo.id).count > 0 %>
      
      <%= form_tag("/photos/detach/#{page.id}/#{photo.id}") do %>
        <%= submit_tag "REMOVE from #{page.slug}" %>
      <% end %>    

    <% else %>
      
      <%= form_tag("/photos/attach/#{page.id}/#{photo.id}") do %>
        <%= submit_tag "ADD to #{page.slug}" %>
      <% end %>
    
    <% end %>
  <% end %> 

  <%= link_to 'Show', photo %> / 
  <%= link_to 'Edit', edit_photo_path(photo) %> / 
  <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
  
