<% @pages = Page.all %>

<hr>
<%= link_to 'Upload', '/photos/upload' %>

<table class="table">
<% @photos.each do |photo| %>
<tr>

  <td><%= image_tag "http://d33hg3xs7itdqa.cloudfront.net/#{photo.s3_key}", width: 150 %></td>
  
  <% @pages.each do |page| %>
    <td class="edit-association">
    <% if PagePhoto.where(page_id: page.id, photo_id: photo.id).count > 0 %>
      
      <%= form_tag("/photos/detach/#{page.id}/#{photo.id}") do %>
        <%= submit_tag "- #{page.slug}", class: 'btn btn-danger' %>
      <% end %>    

    <% else %>
      
      <%= form_tag("/photos/attach/#{page.id}/#{photo.id}") do %>
        <%= submit_tag "+ #{page.slug}", class: 'btn btn-success' %>
      <% end %>
    
    <% end %>
    </td>
  <% end %> 

  <td>
  <%= link_to 'Show', photo %> / 
  <%= link_to 'Edit', edit_photo_path(photo) %> / 
  <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>

</tr>
<% end %>
</table>
  
